{% extends "base.html" %}

{% block title %} CRM Home {% endblock title %}

{% block content %}

    <div class="container-fluid">
        <h2>CRM List</h2>
                
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Customer name</h5>
                        <small class="text-muted">Agent name</small>
                    </div>
                    <p class="mb-1">Something from order.</p>
                </a>
            </div>

        </div>
    </div>

{% endblock content %}
